<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.car.permission.READ_CAR_PROPERTY" />
    <uses-permission android:name="android.car.permission.WRITE_CAR_PROPERTY" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />

    <!--    <privapp-permissions xmlns:android="http://schemas.android.com/apk/res/android"-->
    <!--        package="com.example.driverlauncher">-->
    <!--        <permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->
    <!--        <permission android:name="android.permission.MODIFY_PHONE_STATE"/>-->
    <!--        <permission android:name="android.permission.CAR_VOLUME"/>-->
    <!--    </privapp-permissions>-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAR_VOLUME" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriverLauncher"
        tools:targetApi="35">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".voskva.VoskRecognitionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <!--        <service-->
        <!--            android:name=".handgesture.CameraCaptureService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:foregroundServiceType="camera"></service>-->

        <!--        <activity-->
        <!--            android:name=".carvitals.CarVitalsActivity"-->
        <!--            android:exported="true"></activity>-->
        <!--        <activity-->
        <!--            android:name=".settings.SettingsActivity"-->
        <!--            android:exported="false" />-->
        <!--        <activity-->
        <!--            android:name=".home.HomeActivity"-->
        <!--            android:exported="true">-->
        <!--        </activity>-->
    </application>

</manifest>